@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    /* Implements smooth scrolling for the entire page */
    scroll-behavior: smooth;
}

*{  
    /* The webkit code was seen on Stackoverflow by user Aslam (https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile)*/
    -webkit-tap-highlight-color: transparent;
    font-family: 'Roboto', sans-serif;
}

body{
    /* initializes all padding and margins to zero */
    padding: 0;
    margin: 0;

    /* Sets the background color and color for the entire html body to be slate and white */
    background-color: #334155;
    color: #DCF2FF;
}

.website-logo{
    padding-top: 10px;
    /* This sets the logo to 10% of the viewports height */
    height: 10vh;
    display: block;

    /* This centers the logo horizontally on the screen */
    margin: 0 auto;
}

.navbar{
    /* fixes the navigation bar the top of the screen and takes up 100% of the width of the screen */
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #334155;
}

.navlink-container {
    /* this aligns the navigation links horizontally in the nav bar */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 10px;
}

.my-section{
    /* This makes it so none of the sections are cropped by navbar when traversing site with nav links */
    padding-top: 180px;

    /* the this makes it so each section takes up 100% of the screen */
    height: 100vh;
    width: 98%;
    margin: 0 auto;
    

    border-bottom: 20px double #bfd2dd;
}

.personal-pic{
    /* adjusts image size depending on screen size */
    height: 30%;
    /* centers the image */
    display: block;
    margin: 0 auto;
    /* rounds the image */
    border-radius: 300px;
}

.catch-pharse{
    font-size: larger;
    margin-top: 50px;
}

/* these classes are generic and used on text elements */

.center-txt{
    text-align: center;
}

.bold-txt {
    font-weight: bold;
}

.space-txt{
    margin-top: 40px;
    margin-bottom: 40px;
}

.space-txt-contact{
    margin-top: 40px;
    margin-bottom: 40px;
}

.large-txt {
    font-size: larger;
}

.skills-list{
    margin-top: 40px;
}

.last-skill{
    margin-bottom: 100px;
}

a{  
    /* This makes it so there is no underline on anchor tags */
    text-decoration: none;
}

/* This effects the properties of the text links the lead to other websites */
.page-link{
    font-size: larger;
    color: #b17f15;
    padding: 4px;
    font-weight: bold;
}

/* changes the color of the background when clicked on. this will be change for desktop */
.page-link:active{
    background-color: #bfd2dd;
    border-radius: 4px;
}

/* centers the page links and spaces them 40px from top */
.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* This styles the navigation links */
.navlink-container > a{
    padding: 8px;
    color: #DCF2FF;
    transition: color 70ms linear;
    transition: background-color 70ms linear;
}

/* changes color and background when navlink is pressed. change for desktop */
.navlink-container > a:active{
    color: #334155;
    background-color: #DCF2FF;
}

/* This makes it so elements don't appear on the website */
.hide{
    display: none;
}