@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

html {
    /* Implements smooth scrolling for the entire page */
    scroll-behavior: smooth;
}

*{  
    /* The webkit code was seen on Stackoverflow by user Aslam (https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile)*/
    -webkit-tap-highlight-color: transparent;
}

/* This changes the properties of the scrollbar*/
::-webkit-scrollbar{
    background-color: #334155;
    width: 10px;
}

/* This changes the properties of the thumb or the cursor on the scrollbar */
::-webkit-scrollbar-thumb {
    background:#DCF2FF;
    border-radius: 10px;
}

/* This makes it so that the corner block blands in with background. 
source: https://stackoverflow.com/questions/35968553/webkit-scrollbar-css-always-a-white-box-in-corner 
*/
::-webkit-scrollbar-corner {
    background:#334155;
}

body{
    /* initializes all padding and margins to zero */
    padding: 0;
    margin: 0;

    /* Sets the background color and color for the entire html body to be slate and white */
    background-color: #334155;

    /* 
    The code for this background was provided by kevin powell in his youtube video 
    Create amazing patterns using CSS gradients (https://www.youtube.com/watch?v=mXrBC_mZfTw)
    */
    background-image: conic-gradient(
        from 330deg at 50% 40%,
        #48505f 60deg,
        transparent 60deg
    );
    background-size: 3rem 4rem;
    background-position: 0 0, 1rem 2rem;
    
    
    color: #DCF2FF;
    font-family: 'Roboto', sans-serif;
}

.website-logo{
    /* This sets the logo to 10% of the viewports height */
    height: 8vh;
}

.navbar{
    /* fixes the navigation bar the top of the screen and takes up 100% of the width of the screen */
    position: fixed;
    top: 0px;

    /* centers the element horizontally */
    background: #334155;

    /* prevent elements from clipping into the navbar */
    z-index: 1;
}

.my-section{

    /* the this makes it so each section takes up 100% of the screen */
    min-height: 80vh;
    width: 98%;
    margin: 0 auto;
    

    border-bottom: 15px dotted #bfd2dd;
}

.personal-pic{
    /* adjusts image size depending on screen size */
    height: 30vh;
    /* centers the image */
    display: block;
    margin: 0 auto;
    /* rounds the image */
    border-radius: 100%;
}

/* styling the catch phrase */
.catch-pharse{
    font-family: 'Pixelify Sans', sans-serif;
    margin-top: 50px;
}

/* these classes are generic and used on text elements */

.center-txt{
    text-align: center;
}

.bold-txt {
    font-weight: bolder;
}

.space-txt{
    margin-top: 40px;
    margin-bottom: 40px;
}

.space-txt-contact{
    margin-top: 40px;
    margin-bottom: 40px;
}

.large-txt {
    font-size: larger;
}

.slate-txt{
    color:#334155;
}

.larger-txt{
    font-size: 75px;
}

.really-large-txt{
    font-size: 100px;
}

.skills-list{
    margin-top: 40px;
}

.last-skill{
    margin-bottom: 100px;
}

a{  
    /* This makes it so there is no underline on anchor tags */
    text-decoration: none;
}

/* This effects the properties of the text links the lead to other websites */
.page-link{
    font-size: larger;
    color: #b17f15;
    padding: 4px;
    font-weight: bold;
    border-radius: 4px;
}

/* the w3c validator didn't like having a button in an anchor tag so I styled the call to action like a button */
.call-to-action{
    font-size: larger;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #c99117;
    color: #1e293b;
}

/* hovering the call to action button */
.call-to-action:hover{
    background-color: #a57714;
}

/* centers the page links and spaces them 40px from top */
.link-container {
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

/* This styles the navigation links */
.navlink-container > a{
    padding: 8px;
    border-radius: 4px;
    color: #DCF2FF;
    transition: color 70ms linear;
    transition: background-color 70ms linear;
}

/* 
.video-container{
    height: 350px;
    border-radius: 4px;
    overflow: hidden;
}

*/

/* adjusts the size of the bar graph in resume section */
.plot{
    border-radius: 10px;
    height: 30vh;
}

/* This makes it so elements don't appear on the website */
.hide{
    display: none;
}

.hidden{
    opacity: 0;
    transform: translateX(-75px);
    transition: all 1s;
}

.show{
    margin: 0 auto;
    width: 80vw;
    transform: translateX(0);
    opacity: 1;
}

/* styles the font awesome icons that are using in the sections */
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%
}

/* color the font awesome light bulb */
#bulb{
    font-size: 60px;
    color: #b17f15;
    margin-bottom: 30px;
}

#person{
    font-size: 200px;
}

.m-v-layout{
    display: grid;
    grid-template-columns: repeat(2, 25em);
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.skills-layout{
    display: grid;
    grid-template-columns: repeat(4, 13em);
    justify-content: center;
    gap: 30px;
}

.grid-odd{
    background-color: #637187;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
}

.grid-even{
    padding: 10px;
    font-size: 20px;
    color: #334155;
    background-color: #DCF2FF;
    border-radius: 4px;
}

.mission{
    padding: 10px;
    font-size: 30px;
    background-color: #637187;
    border-radius: 4px;
}

.complex-icon{
    text-align: center;
    padding: 5px;
    font-size: 100px;
    color: #334155;
    background-color: #DCF2FF;
    border-radius: 4px;
}

.vision-icon{
    text-align: center;
    padding: 10px;
    background-color: #DCF2FF;
    color: #334155;
    border-radius: 4px;
}

@media(max-width: 490px){

    .website-logo{
        display: block;
    
        /* This centers the logo horizontally on the screen */
        margin: 0 auto;
        padding-top: 10px;
    }

    /* adjusts the size of the bar graph in resume section */
    .plot{
        width: 68vw;
    }

    /* styling for the project container on mobile */
    .proj{
        display: block;
        background-color: #273241;
        border: 4px solid #637187;
        padding: 20px;
        border-radius: 10px;
        margin: 20px 0;
        text-align: center;
    }

    /* centers the image in the project container */
    .proj > img{
        display: block;
        margin: 0 auto;
    }

    /* makes navbar take up the whole veiw port width */
    .navbar{
        width: 100vw;
    }

    /* size of the catch phrase */
    .catch-pharse{
        padding-top: 50px;
        font-size: 30px;
        padding-bottom: 50px;
    }

    .navlink-container {
        /* this aligns the navigation links horizontally in the nav bar */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-top: 10px;
    }

    .my-section{
        /* This makes it so none of the sections are cropped by navbar when traversing site with nav links */
        padding-top: 150px;
    }

    /* changes the color of the background when clicked on*/
    .call-to-action:active{
        background-color: #b17f15;
    }

    /* changes the color of the background when clicked on*/
    .page-link:active{
        background-color: #bfd2dd;
    }

    /* changes color and background when navlink is pressed.*/
    .navlink-container > a:active{
        color: #334155;
        background-color: #DCF2FF;
    }

    .m-v-layout{
        grid-template-columns: repeat(1, 25em);
        gap: 7vw;
    }

    .skills-layout{
        grid-template-columns: repeat(2, 13em);
        margin-bottom: 40px;
    }

    .mission{
        padding: 10px;
        font-size: 20px;
        background-color: #48505f;
        border-radius: 4px;
    }

    .complex-icon{
        text-align: center;
        padding: 5px;
        font-size: 100px;
        color: #334155;
        background-color: #DCF2FF;
        border-radius: 4px;
    }
}

@media screen and (min-width: 491px) and (max-width: 919px){
    .navbar{
        width: 100vw;
    }

    .navlink-container {
        /* this aligns the navigation links horizontally in the nav bar */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-top: 10px;
    }

    .website-logo{
        display: block;
    
        /* This centers the logo horizontally on the screen */
        margin: 0 auto;
        padding-top: 10px;
    }

    /* Adjusts the size of the sections to fit the desktop */
    .my-section{
        padding-top: 180px;
    }

    /* size of the catch phrase */
    .catch-pharse{
        padding-top: 50px;
        font-size: 2em;
        padding-bottom: 50px;
    }

}

@media(min-width: 920px){

    /* Adjusts the size of the sections to fit the desktop */
    .my-section{
        width: 85%;
        /* This makes it so none of the sections are cropped by navbar when traversing site with nav links */
        padding-top: 130px;
        padding-bottom: 20px;
    }

    /* styles for the catch phrase */
    .catch-pharse{
        font-size: 5vw;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    /* Styles each of the project cards in the resume section */
    .proj{
        border: 4px solid #637187;
        background-color: #273241;
        display: flex;
        padding: 20px;
        width: 700px;
        border-radius: 10px;
        margin: 20px auto;
    }

    /* align text in the project cards to be centered */
    .proj-desc{
        text-align: center;

    }

    /* adjusts the size of the bar graph in resume section */
    .plot{
        height: 35vh;
    }

    /*NOT USED*/
    .proj-code{
        background-color: #1e293b;
        width: 500px;
        height: 417px;
        overflow: scroll;
    }

    /* this puts the logo and column in the same run row and spacing them out*/
    .navbar{
        padding-top: 10px;
        left: 0%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25vw;
        border-bottom: 1px solid white;
    }

    /* make a gap for the navlinks */
    .navlink-container{
        display: flex;
        gap: 1rem;
    }

    /* enable a transition animation for the page lines */
    .page-link{
        padding: 10px;
        transition: ease-in-out 75ms;
    }

    /* adjust the size of the skills font */
    .skills-list{
        font-size: large;
    }

    /* changes the color of the background when hovering over with mouse*/
    .page-link:hover{
        background-color: #bfd2dd;
    }
    /* changes the color of the background when clicked when tabbing*/
    .page-link:focus{
        background-color: #bfd2dd;
    }

    /* changes the color of the background when hovering over with mouse*/
    .navlink-container > a:hover{
        color: #334155;
        background-color: #DCF2FF;
    }

    /* changes the color of the background when clicked when tabbing*/
    .navlink-container > a:focus{
        color: #334155;
        background-color: #DCF2FF;
    }
}